<h1>
    <mark>Files Management</mark>
</h1>
<p>
    This Jupyter notebook is dedicated to organizing and preparing our datasets.<br>We systematically import the files, remove unnecessary columns, and consolidate them into a single, unified dataframe for streamlined analysis.
</p>

In [1]:
import os
import glob
import numpy as np 
import pandas as pd

In [5]:
#Import all Excel filenames into a list and map each one to its corresponding dataframe in the dictionary dfs.

filenames = glob.glob("BDD_darija/*.xlsx")

dfs = {}
for file in filenames: 
    name = os.path.splitext(os.path.basename(file))[0]
    dfs[name] = pd.read_excel(file)

dfs.keys()

dict_keys(['adjectives', 'adverbs', 'animals', 'arts', 'clothes', 'colors', 'determiners', 'economy', 'education', 'emotions', 'environment', 'family', 'femalenames', 'food', 'health', 'humanbody', 'idioms', 'imagenet_b_darija', 'in_definite', 'malenames', 'nouns', 'numbers', 'places', 'plants', 'possessives', 'prepositions', 'professions', 'pronouns', 'religion', 'sport', 'technology', 'time', 'utils', 'verbs', 'weird'])

In [6]:
dfs['adjectives'].head()

        n1      n2        n3   n4       eng       fren
0   8chich     NaN       NaN  NaN   fragile    fragile
1    cha3l     NaN       NaN  NaN     angry  en colère
2     DaSr     NaN       NaN  NaN   naughty     vilain
3  moudmin  modmin  moudmine  NaN  addicted      accro
4   ghabyy   ghaby       NaN  NaN    stupid    stupide

In [8]:
# Drop the columns n2, n3, n4, and eng from each dataframe
for name, df in dfs.items(): 
    df.drop(columns= ["n2", "n3","n4","eng"], inplace= True, errors= "ignore")

# Check how many dataframes contain at leat one of the specified columns

i=0
for name, df in dfs.items():
    existing = set(["n2", "n3", "n4", "eng"]) & set(df.columns)
    if existing:
        print(f"{name} has: {existing}")
        i += 1
print(f"{i} dataframes contain at leat one of the specified columns")

0 dataframes contain at leat one of the specified columns

In [9]:
# Check all dataframes with their colunms
for name, df in dfs.items(): 
    print(name, df.columns.tolist())

adjectives ['n1', 'fren']
adverbs ['n1', 'fren']
animals ['n1', 'fren']
arts ['n1', 'fren']
clothes ['n1', 'fren']
colors ['n1', 'fren']
determiners ['n1', 'fren']
economy ['n1', 'fren']
education ['n1', 'fren']
emotions ['n1', 'fren']
environment ['n1', 'fren']
family ['n1', 'fren']
femalenames ['n1', 'fren']
food ['n1', 'fren']
health ['n1', 'fren']
humanbody ['n1', 'fren']
idioms ['n1', 'fren']
imagenet_b_darija ['n1', 'fren']
in_definite ['n1', 'fren']
malenames ['n1', 'fren']
nouns ['n1', 'fren']
numbers ['n1', 'fren']
places ['n1', 'fren']
plants ['n1', 'fren']
possessives ['n1', 'fren']
prepositions ['n1', 'fren']
professions ['n1', 'fren']
pronouns ['n1', 'fren']
religion ['n1', 'fren']
sport ['n1', 'fren']
technology ['n1', 'fren']
time ['n1', 'fren']
utils ['n1', 'fren']
verbs ['n1', 'fren']
weird ['n1', 'fren']

In [10]:
# Merge all dataframes into one large dataframe

df_list = list(dfs.values())
data = pd.concat(df_list, ignore_index= True, axis= 0)
data.head()

        n1       fren
0   8chich    fragile
1    cha3l  en colère
2     DaSr     vilain
3  moudmin      accro
4   ghabyy    stupide

In [11]:
data.to_excel("data_fr.xlsx", index= False)
print("Save Successful")

Save Successful