In [17]:
import pandas as pd
import re
from deep_translator import GoogleTranslator

In [47]:
from deep_translator import GoogleTranslator
files=['food.csv','clothes.csv','professions .csv']
translator = GoogleTranslator(source='en', target='fr')
dfs=[]
for f in files:
    temp = pd.read_csv(f, sep='\t', encoding='utf-16')
    temp = temp[['n1', 'eng']]
    temp['fren'] = temp['eng'].apply(lambda text: translator.translate(text) if isinstance(text, str) else text)
    temp = temp[['n1', 'fren']]
    dfs.append(temp)
df_final = pd.concat(dfs, ignore_index=True)

In [48]:
df_final['fren'] = df_final['fren'].replace({
    'anneau':'bague',
    'capuchon':'casquette',
    'barbier':'coiffeur',
    'assistant':'secrétaire',
    'homme de volaille':'Volailler',
    'rendez-vous':'datte'
})

In [49]:
def clean_text(text):
    if isinstance(text, str):
        # On supprime les caractères spéciaux avec re.sub
        text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
        return text.lower().strip()
    return text
df_final['n1']=df_final['n1'].str.lower().apply(clean_text)
df_final['fren']=df_final['fren'].str.lower().apply(clean_text)
df_final=df_final.dropna().drop_duplicates()

In [50]:
df_final.to_csv("version_clean.csv", index=False, encoding='utf-8')

In [51]:
df_final.head(40)

          n1            fren
0      khdra          lgumes
1       bsla          oignon
2    maticha          tomate
3    jelbana            pois
4      dnjal       aubergine
5      gar3a      citrouille
6     mkowwr            chou
7      btata  pomme de terre
8      khyar       concombre
9      khizo         carotte
10     touma             ail
11  chiflour       choufleur
12       9o9      artichauts
13  khrchouf          cardon
14     flfla          poivre
15       fjl           radis
16    loubia        haricots
17     bsbas         fenouil
18     khoss          laitue
19       lft           navet
20      kbal             mas
21    9zbour       coriandre
22   m3dnous          persil
23    zitoun          olives
24     barba       betterave
25     krafs           cleri
26   kourjit       courgette
28    dissir          fruits
29      tfa7           pomme
30  bou3ouid           poire
31      friz          fraise
32     avoka          avocat
33       3nb          raisin
34    krmous           figue
35    limoun          orange
36      7amd          citron
37      rman         grenade
38      dla7         pastque
39    khoukh            pche
40      kiwi            kiwi